<header class="px-4 lg:px-6 h-14 flex items-center">
    <a class="flex items-center justify-center" href="#">
        <i data-feather="graduation-cap" class="h-6 w-6"></i>
        <span class="sr-only">{{ site.title }}</span>
    </a>
    <nav class="ml-auto flex gap-4 sm:gap-6">
        <a class="text-sm font-medium hover:underline underline-offset-4" href="#">프로그램</a>
        <a class="text-sm font-medium hover:underline underline-offset-4" href="#">강사진</a>
        <a class="text-sm font-medium hover:underline underline-offset-4" href="#">수강후기</a>
        <a class="text-sm font-medium hover:underline underline-offset-4" href="#">문의하기</a>
    </nav>
</header>